/*
    Author - Jaimie Norman
*/

// Colours:
$primary-color: #55c57a;
$light-color:  #7ed56f;
$dark-color: #28b485;
$white-color: #ffff;
$black-color: #000;

$secondary-light-color: #ffb900;
$secondary-dark-color: #ff7730;

$tertiary-light-color: #2998ff;
$tertiary-dark-color: #5643fa;

$light-grey-color: #f7f7f7;
$light-grey-color-2: #eee;

// Grid
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

// Font Sizes
$default-font-size: 1.6rem;