/*
    Author - Jaimie Norman
*/

// Colours:
$primary-color: #55c57a;
$light-color:  #7ed56f;
$dark-color: #28b485;
$white-color: #ffff;
$black-color: #000;

$light-grey-color: #f7f7f7;

// Grid
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;