.header {
    position: relative;
    height: 95vh; /* 95% of the viewport height */
    background-image: linear-gradient(to right bottom, rgba($light-color, 0.8), rgba($dark-color, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    &-heading-container { // Remember that the '&' symbol copies the parent so  '&-jaimie' would be '.header-jaimie'
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Shift it 50% of the elements height and width */
        text-align: center;
    }

    &-heading-primary {
        color: $white-color;
        text-transform: uppercase;
        backface-visibility: hidden; /* This is to fix the 'shakiness' of the animation */
        margin-bottom: 60px;

        &-main {
            display: block; /* block elements occupy the entire width that they have available and they create line breaks after and before them */
            font-size:  50px;
            font-weight: 400;
            letter-spacing: 5px;
    
            animation: moveFromLeft 1s;
        }

        &-after {
            display: block;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 10px;
        
            animation: moveFromRight 1s;
        }
    }
}