.separator {
    position: relative;
    height: 50vh;
    background-image: linear-gradient(to right bottom, rgba($light-color, 0.8), rgba($dark-color, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
}