* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Changes box model so that borders and paddings are no longer added to the total width or total heighth */
}

body {
    box-sizing: border-box;
}