* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Changes box model so that borders and paddings are no longer added to the total width or total heighth */
}

html {
    font-size: 62.5%; // This defines what '1rem' is
    

    @include respond(tablet-landscape) {
        font-size: 56.25%;
    }

    @include respond(tablet-portrait) {
        font-size: 50%;
    }

    @include respond(large-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}